*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 15px;
	color: rgb(7, 2, 2);
	overflow: hidden;
}

.container{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#section{
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../img/imgs/tobias.jpg) no-repeat fixed;
    background-size: cover; 
    background-blend-mode: darken;
    flex-wrap: wrap;

}

.menu{
	width: 100%;
	height: 100px;
	background-color: red;
}

.sociais{
	display: flex;
	width: 10%;
	padding: 21px 0px 0px 138px;
}

.face{
	margin: 5px;
}

.insta{
	padding-top: 8px;
	margin: 5px;
}

.face:hover, .insta:hover{
	cursor: pointer;
	background-color: black;
	border-radius: 45px;
	transition: 2s;
}

.thg{
	float: right;
	display: flex;
	position: absolute;
}

.marca{
	margin: 5px;
}

.logo{
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: rgb(14, 12, 12);
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);

    }

    .logo span{
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: 135px;
            left: 50px;
            color: rgb(255, 255, 255);
	}
	
	.home{
		float: right;
		display: block;
		font-size: 20px;
		padding: 29px 96px 0px 138px;
		cursor: pointer;
	}
	
	.home a{
		color: seashell;
		text-decoration: none;
	}
	
	.home a:hover{
	color: rgb(14, 11, 11);
	}

    .section h1{
		color: aliceblue;
		text-align: center;
		font-weight: bold;
		padding-bottom: 40px;
		font-size: 48px;
	}

	.superbox{
		text-align: center;
		
	}
	
	.section label{
		color: rgb(238, 6, 6);
		padding: 0px 13px 0px 42px;
		font-size: 143%;
		font-weight: bold;
		
	}

    .section input{
		display: inline-flex;
		border: none;
		align-self: center;
        border-radius: 10px;
		height: 25px;
		text-align: center;
		font-size: 18px;
		
		
	}
	
	.box{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		display: table;
	}

	.confirme{
		border: none;
		color: rgb(236, 5, 5);
		background-color: black;
		padding: 17px;
		margin: 5px;
		font-size: 24px;
		line-height: 5px;
		border-radius: 10px;
		position: relative;
		box-sizing: border-box;
		cursor: pointer;
	}

      .confirme:hover{
		color: black;
		background-color: red;
		transition: all 400ms ease;
	}

